@charset "UTF-8";

/*  헤드 디자인 1단 투명배경 No 1 */


@media (max-width:991px){
#header {
	width: 100%;
	background-color: rgba(0,0,0,1.00);
}

}

@media (max-width:767px){


}
@media (max-width:480px){

}
@media (min-width:768px) {


}
@media (min-width:768px) and (max-width:991px){

}
@media (min-width:992px){
#header {
	overflow: hidden;
	z-index: 17;
}
}
