@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);

/* ======= Font ======= */
@font-face {
 font-family: 'NanumSquare';
 font-weight: 400;
 src: url(../font/NanumSquare/NanumSquareR.eot);
 src: url(../font/NanumSquare/NanumSquareR.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquare/NanumSquareR.woff) format('woff'),
      url(../font/NanumSquare/NanumSquareR.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 700;
 src: url(../font/NanumSquare/NanumSquareB.eot);
 src: url(../font/NanumSquare/NanumSquareB.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquare/NanumSquareB.woff) format('woff'),
      url(../font/NanumSquare/NanumSquareB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 800;
 src: url(../font/NanumSquare/NanumSquareEB.eot);
 src: url(../font/NanumSquare/NanumSquareEB.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquare/NanumSquareEB.woff) format('woff'),
      url(../font/NanumSquare/NanumSquareEB.ttf) format('truetype');
}
@font-face {
 font-family: 'NanumSquare';
 font-weight: 300;
 src: url(../font/NanumSquare/NanumSquareL.eot);
 src: url(../font/NanumSquare/NanumSquareL.eot?#iefix) format('embedded-opentype'),
      url(../font/NanumSquare/NanumSquareL.woff) format('woff'),
      url(../font/NanumSquare/NanumSquareL.ttf) format('truetype');
}



article, aside, figure, footer, header, hgroup,
menu, nav, section { display: block; }

/*global*/
body {width:100%; margin:0; -webkit-font-smoothing: antialiased;scroll-behavior: smooth; word-spacing: -0.05em; font-family: 'Noto Sans KR', sans-serif;}

div {display: block; height:auto; position:relative;/* border: 1px solid gray; */}
*{text-decoration: none;}

a:hover,a:active;a:visited{color:darkgray;}
a{color:gray;}

.wrap {width:100%; text-align:center; display:block;position: relative;}
.section {width:100%; text-align:center; display:block;position: relative;height: auto; overflow: auto;}
.container{margin: 0 auto; max-width:1200px; text-align: center;height: auto; overflow: auto; overflow-x:hidden;;overflow-y: hidden;}

h1,h2,h3,h4,h5,h6{line-height: 1.6}
h1,h2,h3,h4,h5,h6{ margin:0px; letter-spacing:-0.4px; margin-bottom: 0px ; }
p,a{ margin:0px; letter-spacing:-0.6px; margin-bottom: 0px ; }
h1{font-size:50px;  font-weight:700 !important;}
h2{font-size:40px; font-weight:300}
h3{font-size:30px; font-weight:500}
.H35{font-size:35px;font-weight:300}

h4{font-size:20px; font-weight:300}
h5{font-size:18px; font-weight:300}
.h55{font-size:16px; font-weight:300}
h6{font-size:15px; font-weight:300}
p{ font-size:16px; font-weight:300;line-height: 1.8; color:#656565;}
p{line-height: 1.8 !important;}
p.small{ font-size:13px; font-weight:300}
a:focus{outline: none !important;}
td{font-size:16px;}

.bold{font-weight:700;}
.regular{font-weight:500}
.light{font-weight:100;}

.whiteh{color:white !important;}
.blackh{color:black !important;}
.redh{color:#bf0000 !important;}
.blackh80{color:#333333 !important;}
.blackh60{color:#666666 !important;}

.pconly{display:block !important;}
.moonly{display:none !important;}
.teonly{display:none !important;}
.ponly {display:block !important;}

.pcnone{display:none !important;}
.monone{}
.tenone{display:inherit !important;}

@media ( max-width: 1023px ) and ( min-width: 768px ){

h1,h2,h3,h4,h5,h6,p{ margin-bottom: 0px !important; }
h1{font-size:30px;}

h3{font-size:21px; }
h4{font-size:16px; }

h6{font-size:10px;}
p{ font-size:15px; }

.pconly{display:none !important;}
.teonly{display:inline !important;}
.moonly{display:none !important;}
.ponly {display:none !important;}

.pcnone{display:block !important;}
.monone{display:block !important;}
.tenone{display:none !important;}
}
@media ( max-width: 767px ) {

h1{font-size:24px !important;}
h2{font-size:22px !important;}
h3{font-size:21px !important;}
h4{font-size:18px !important;}
h5{font-size:16px !important;}
h6{font-size:15px !important;}
p{ font-size:14px !important;}


.pconly{display:none !important;}
.teonly{display:none !important;}
.moonly{display:inline !important;}
.ponly {display:none !important;}

.pcnone{display:block !important;}
.monone{display:none !important;}
.tenone{display:block !important;}

.ubermenu-skin-white.ubermenu-responsive-toggle{display:none !important;}
.account-item{display:none !important;}
.viewmore{display:none !important}

}

.logo_img{float:left;margin-top:25px;}
.logo_img:hover{cursor: pointer;}

.header-bottom{height:60px;}
.header_content { position: relative; height: 100%; }

.header_wrap{position: absolute; z-index:999; top:0px; ;height: 100px; border-bottom: 1px solid rgba(255,255,255,0.4)}
#Gnb_wrap{overflow:hidden;height:80px;}
#Gnb{margin-top: 25px;}
.nav_li{ width: 125px; display: inline-block; vertical-align:top; color: black ; margin: 0px -5px; padding: 12px 20px; height: 220px; text-align:center;}
.nav_li:hover{background-color:;}
.nav_li>.nav_a{color:white ;font-size:18px;padding-top:10px; font-weight:400;}
.nav_a:hover{color:#ae8d4a !important}
.nav_a_last{font-size:18px;padding-top:10px; font-weight:400;padding:7px 10px !important;font-size:17px !important;border:1px solid #ae8d4a; color:#ae8d4a }

.sub_nav{line-height:2.8;margin-top:0px;padding-top:70px;font-weight: 200}
.sub_nav_element{font-size:15px ; color:#333; font-weight:300; display:block !important; visibility: visible !important;}
.sub_nav_element:hover{font-weight:;color:#a46316 !important;}

.hoverwhite:hover{color:white !important;}
.last_nav_icon{width:130px !important}
.last_nav_icon:hover{background-color:none !important;}

.body_wrap {position: relative;}


.rsImg{margin:0 !important;}
.slider_element {heigh:840px !important;}
.royalSlider{width:100% !important;}


/*.container_left {width:30%;}
._right {width:70%;} */
.section>img{}

.subheader{padding-top: 185px !important;padding-bottom: 85px !important;}

.underbarwhite{background-color: white;width:30px;height:2px;}
.underbarblue{background-color: #01385e;width:45px;height:3px;margin-bottom: 20px;}
.left{float:left !important;}
.right{float:right !important;}
.container_right1{
	margin-bottom:70px;
}
.leftalign{text-align: left!important;}
.rightalign{text-align: right!important;}
.centeralign{text-align: center!important;}
.white{color:white !important;}
.gray{color:gray !important;}
.whitegray{color:#d4d5d6;}
.bgwhite{background-color:white;}


.h1080{height:1080px !important;border-bottom: 0px !important}

.mar0{margin-top:0px !important;margin-bottom: 0px !important;}
.marb0{margin-bottom:0px !important;}
.marb5{margin-bottom:5px !important;}
.marb10{margin-bottom:10px !important;}
.marb15{margin-bottom:15px !important;}
.marb20{margin-bottom:20px !important;}
.marb25{margin-bottom:25px !important;}
.marb30{margin-bottom:30px !important;}
.marb35{margin-bottom:35px !important;}
.marb40{margin-bottom:40px !important;}
.marb45{margin-bottom:45px !important;}
.marb50{margin-bottom:50px !important;}
.marb55{margin-bottom:55px !important;}
.marb60{margin-bottom:60px !important;}
.marb65{margin-bottom:65px !important;}
.marb70{margin-bottom:70px !important;}
.marb75{margin-bottom:75px !important;}
.marb80{margin-bottom:80px !important;}
.marb85{margin-bottom:85px !important;}
.marb90{margin-bottom:90px !important;}
.marb95{margin-bottom:95px !important;}
.marb100{margin-bottom:100px !important;}
.marb105{margin-bottom:105px !important;}
.marb110{margin-bottom:110px !important;}
.marb115{margin-bottom:115px !important;}
.marb120{margin-bottom:120px !important;}
.marb150{margin-bottom:150px !important;}
.marb170{margin-bottom:170px !important;}
.marb200{margin-bottom:200px !important;}
.marb240{margin-bottom:240px !important;}
.marb260{margin-bottom:260px !important;}

.mart0{margin-top:0px !important;}
.mart5{margin-top:5px !important;}
.mart10{margin-top:10px !important;}
.mart15{margin-top:15px !important;}
.mart20{margin-top:20px !important;}
.mart25{margin-top:25px !important;}
.mart30{margin-top:30px !important;}
.mart35{margin-top:35px !important;}
.mart40{margin-top:40px !important;}
.mart45{margin-top:45px !important;}
.mart48{margin-top:48px !important;}
.mart50{margin-top:50px !important;}
.mart55{margin-top:55px !important;}
.mart60{margin-top:60px !important;}
.mart65{margin-top:65px !important;}
.mart70{margin-top:70px !important;}
.mart75{margin-top:75px !important;}
.mart80{margin-top:80px !important;}
.mart85{margin-top:85px !important;}
.mart90{margin-top:90px !important;}
.mart95{margin-top:95px !important;}
.mart100{margin-top:100px !important;}
.mart105{margin-top:105px !important;}
.mart110{margin-top:110px !important;}
.mart115{margin-top:115px !important;}
.mart120{margin-top:120px !important;}
.mart125{margin-top:125px !important;}
.mart130{margin-top:130px !important;}
.mart135{margin-top:135px !important;}
.mart140{margin-top:140px !important;}
.mart145{margin-top:145px !important;}
.mart150{margin-top:150px !important;}
.mart180{margin-top:180px !important;}

.pdt0{padding-top:0px !important;}
.pdt5{padding-top:5px !important;}
.pdt10{padding-top:10px !important;}
.pdt15{padding-top:15px !important;}
.pdt20{padding-top:20px !important;}
.pdt25{padding-top:25px !important;}
.pdt30{padding-top:20px !important;}
.pdt35{padding-top:25px !important;}
.pdt40{padding-top:40px !important;}
.pdt45{padding-top:45px !important;}
.pdt48{padding-top:48px !important;}
.pdt50{padding-top:50px !important;}
.pdt55{padding-top:55px !important;}
.pdt60{padding-top:60px !important;}
.pdt65{padding-top:65px !important;}
.pdt70{padding-top:250px !important;}
.pdt75{padding-top:75px !important;}
.pdt80{padding-top:80px !important;}
.pdt85{padding-top:85px !important;}
.pdt90{padding-top:90px !important;}
.pdt95{padding-top:95px !important;}
.pdt100{padding-top:100px !important;}
.pdt105{padding-top:105px !important;}
.pdt110{padding-top:110px !important;}
.pdt115{padding-top:115px !important;}
.pdt120{padding-top:120px !important;}
.pdt125{padding-top:125px !important;}
.pdt130{padding-top:130px !important;}
.pdt135{padding-top:135px !important;}
.pdt140{padding-top:140px !important;}
.pdt145{padding-top:145px !important;}
.pdt150{padding-top:150px !important;}
.pdt155{padding-top:155px !important;}
.pdt160{padding-top:160px !important;}
.pdt165{padding-top:165px !important;}
.pdt170{padding-top:170px !important;}
.pdt175{padding-top:175px !important;}
.pdt180{padding-top:180px !important;}
.pdt185{padding-top:185px !important;}

.pdb0{padding-bottom:0px !important;}
.pdb5{padding-bottom:5px !important;}
.pdb10{padding-bottom:10px !important;}
.pdb15{padding-bottom:15px !important;}
.pdb20{padding-bottom:20px !important;}
.pdb25{padding-bottom:25px !important;}
.pdb30{padding-bottom:30px !important;}
.pdb35{padding-bottom:35px !important;}
.pdb40{padding-bottom:40px !important;}
.pdb45{padding-bottom:45px !important;}
.pdb50{padding-bottom:50px !important;}
.pdb55{padding-bottom:55px !important;}
.pdb60{padding-bottom:60px !important;}
.pdb65{padding-bottom:65px !important;}
.pdb70{padding-bottom:70px !important;}
.pdb75{padding-bottom:75px !important;}
.pdb80{padding-bottom:80px !important;}
.pdb85{padding-bottom:85px !important;}
.pdb90{padding-bottom:90px !important;}
.pdb95{padding-bottom:95px !important;}
.pdb100{padding-bottom:50px !important;}
.pdb110{padding-bottom:110px !important;}

.pdb105{padding-bottom:105px !important;}
.pdb160{padding-bottom:160px !important;}
.pdb545{padding-bottom:545px !important;}

.pd0{padding-top : 0px !important;; padding-bottom: 0px !important;;}
.pd5{padding-top : 5px !important;; padding-bottom: 5px !important;;}
.pd10{padding-top : 10px !important;; padding-bottom: 10px !important;}
.pd15{padding-top : 15px !important; padding-bottom: 15px !important;}
.pd20{padding-top : 20px !important; padding-bottom: 20px !important;}
.pd25{padding-top : 25px !important; padding-bottom: 25px !important;}
.pd30{padding-top : 30px !important; padding-bottom: 30px !important;}
.pd35{padding-top : 35px !important; padding-bottom: 35px !important;}
.pd40{padding-top : 40px !important; padding-bottom: 40px !important;}
.pd45{padding-top : 45px !important; padding-bottom: 45px !important;}
.pd50{padding-top : 50px !important; padding-bottom: 50px !important;}
.pd55{padding-top : 55px !important; padding-bottom: 55px !important;}
.pd60{padding-top : 60px !important; padding-bottom: 60px !important;}
.pd65{padding-top : 65px !important; padding-bottom: 65px !important;}
.pd70{padding-top : 70px !important; padding-bottom: 70px !important;}
.pd75{padding-top : 75px !important; padding-bottom: 75px !important;}
.pd80{padding-top : 80px !important; padding-bottom: 80px !important;}
.pd85{padding-top : 85px !important; padding-bottom: 85px !important;}
.pd90{padding-top : 90px !important; padding-bottom: 90px !important;}
.pd95{padding-top : 95px !important; padding-bottom: 95px !important;}
.pd100{padding-top : 100px !important; padding-bottom: 100px !important;}
.pd105{padding-top : 105px !important; padding-bottom: 105px !important;}
.pd110{padding-top : 110px !important; padding-bottom: 110px !important;}
.pd115{padding-top : 115px !important; padding-bottom: 115px !important;}
.pd120{padding-top : 120px !important; padding-bottom: 120px !important;}
.pd125{padding-top : 125px !important; padding-bottom: 125px !important;}


.lh1{line-height: 1  !important}
.lh115{line-height:1.15 !important}
.lh11{line-height: 1.1 !important}
.lh12{line-height: 1.2 !important}
.lh13{line-height: 1.3 !important}
.lh14{line-height: 1.4 !important}
.lh15{line-height: 1.5 !important}
.lh16{line-height: 1.6 !important}
.lh17{line-height: 1.7 !important}
.lh18{line-height: 1.8 !important}
.lh19{line-height: 1.9 !important}
.lh2{line-height: 2}

.w100{font-weight: 100!important; }
.w200{font-weight: 200!important;}
.w300{font-weight: 300!important;}
.w400{font-weight: 400!important;}
.w500{font-weight: 500!important;}
.w600{font-weight: 600!important;}

fln{float: none!important;}
flr{float:right!important;}
fll{float:left!important;}

@media (max-width:768px){

#mpopup37 img { width:100% !important; height: auto !important; }

}



.ui-widget-header{border:none !important; background:none !important;}
.ui-widget-content{width:100%;text-align: center !important;} 
.ui-tabs{padding: 0px !important; border : none !important; } 
.ui-tabs-nav{/*width:1200px*/;margin : 0 auto !important; text-align: center;} 
.ui-state-default{background:white url("") 50% 50% repeat-x !important;color: #555555;border: 0px solid #d3d3d3 !important;font-weight: normal;} 
.ui-tabs-panel{padding:0 !important; margin:0 auto;}
.ui-state-default a,.ui-state-default a:link,.ui-state-default a:visited {color: #bfbfbf;} 
.ui-state-active a,.ui-state-active a:link,.ui-state-active a:visited {color: #212121;text-decoration: none;border:0px solid white !important;} 
.ui-state-hover{background-color:#f4f4f4 !important;border: 0px solid #999999;background: #f4f4f4 url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;font-weight: normal;color: #212121;}
.ui-state-hover a,.ui-state-hover a:hover,.ui-state-hover a:link,
.ui-state-hover a:visited,.ui-state-focus a,.ui-state-focus a:hover,
.ui-state-focus a:link,.ui-state-focus a:visited
{
color: #212121;
	text-decoration: none;
}


.ui-tabs-nav{max-width: 1200px;}

.tabs_line > ul > li{padding-top:20px !important; padding-bottom:20px !important; margin:0px !important;}
.tabs_line > ul .tab3{min-width:33.33% !important;}
.tabs_line > ul .tab4{min-width:25%!important;}
.tabs_line > ul .tab5{min-width:20%!important;}
.tabs_line > ul > li >.ui-tabs-anchor {float: none !important; width: 100% !important; padding:0.5em 0em !important;}
.tabs_line > ul > .ui-tabs-active{background: #01385e url("") 50% 50% repeat-x !important;color: #212121;font-weight: normal } 
.tabs_line > ul > .ui-tabs-active > a {color :white !important}
.ui-tabs-panel > .tabs_line_bordertop {border-top: 1px solid  #01385e !important;top:-1px;z-index: 99;}

.ui-corner-top{border-top-right-radius: 0px !important;border-top-left-radius: 0px !important;}

.tabs > ul > .ui-tabs-active{background: #f4f4f4 url("") 50% 50% repeat-x !important;border: 0px solid #aaaaaa !important;color: #212121;font-weight: normal } 
.tabs > .ui-tabs-panel{background-color:#f4f4f4 !important;} 
.tabs > ul .tab3{min-width:33.33% !important;}
.tabs > ul .tab4{min-width:25%!important;}
.tabs > ul .tab5{min-width:20%!important;}
.tabs > ul .ui-tabs-anchor{float:none !important; padding:0px !important; }
.tabs > ul > li{margin:0px !important; padding:10px 0px !important;}
.tabs > ul > li.ui-tabs-active{padding-top:10px !important;padding-bottom:10px !important;}

@media ( max-width: 1023px ) {
  .ui-tabs-nav{max-width: 100% !important}
	a.movetotop{display: none;}
	.container_left{float: none; width: 100%;}
	.container_right{float: none; width: 100%;}
	.logo_img{margin-left:38px;}
	.vision_color2{margin-bottom: 25px !important}

}
@media ( max-width: 767px ) {
  .ui-tabs-nav{max-width: 100% !important}
	.logo_img {width:44%;margin-top:32px;}
	.section{width:90%;padding-left: 5% !important; padding-right: 5% !important; }
	.rsArrowIcn{display: none !important}
	.slider_button{margin-top:70px !important;}
	.header_wrap{border-bottom:0px solid rgba(0,0,0,0)}
	.divleft{float:left;}
}



.footer_wrap{background-color:#303137;overflow: auto;}
.footer_content{height: 370px;;}
.footer_div_1{width:35.3333%;height: inherit;display: inline-block;vertical-align: top;}
.footer_div_2{width:26.8666%;height: inherit;display: inline-block;vertical-align: top;}
.footer_div_3{width:36.5333%;height: inherit;display: inline-block;vertical-align: top;}
.footer_div_1_bottom{bottom:0;position:absolute;}

.sub_nav_element{margin-bottom:10px !important; letter-spacing:-1px !imortant;}



a.movetotop {
  position: fixed;
  right: 150px;;
  bottom: 100px;
	background-color:;
	display:none;
}


.sub_menu1 > a {font-weight:400 !important}



 _:-ms-input-placeholder, :root .nav_li > .nav_a { font-weight:600 !important}/* Only works in IE10 이상*/
 _:-ms-fullscreen, :root .nav_li > .nav_a { font-weight:600 !important }/* Only works in IE11  */

_:-ms-input-placeholder, :root p,a { letter-spacing:-1.2px !important;}/* Only works in IE10 이상*/
_:-ms-fullscreen, :root p,a { letter-spacing:-1.2px !important; }/* Only works in IE11  */
_:-ms-fullscreen, :root .textwhite { letter-spacing:-2.5px !important; }/* Only works in IE11  */
_:-ms-fullscreen, :root .table_info { width: 1137px; margin-left: 15px; }/* Only works in IE11  */


_:-ms-input-placeholder, :root .sub_menu1 > a { font-weight:600 !important}/* Only works in IE10 이상*/
_:-ms-fullscreen, :root .sub_menu1 > a { font-weight:600 !important }/* Only works in IE11  */
